<?xml version="1.0"?>

<robot name="diff_drive_example">

<!-- LINKS -->
<link name="base_link"/>
<link name="lidar_link"/>

<!-- JOINTS -->
<joint name="base_lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 0.3" rpy="0 0 0"/>
</joint>

</robot>
